* {
	margin: 0 auto;
	box-sizing: border-box;
}
/*========= HEADER ===========*/
header {
	width:100%;
	height: 150px;
	background-color:lightgray;
	position: relative;
}

nav img {
	float:left;
}

nav {
    width: 600px;
    height: 35px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #afd2f0;
    position: absolute;
    right:0;
    bottom: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}

nav a:hover {
    color: #0797D6;
}

/*========== PANELS ============*/

.panel {
	width:100%;
	height: 650px;
}

.hero {
	/*background-color: #0797D6;*/
	background-image: url("/images/golden_reading.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.about {
	background-color:#D50730;
}

.involved {
	background-color:#F86120;
}

.map {
	background-color:#07D5AB;

}

.schedule {
	background-color:#AB07D5;

}

.wordbox {
	background-color:white;
	height: 650px;
	width:50%;
	opacity:.6;
}

.panel:nth-child(even) .wordbox {
	float:left;
}

.panel:nth-child(odd) .wordbox {
	float:right;
}
/*======== HERO =========*/

.hero {
	text-align: center;
}

.mission {
	min-height: 100px;
	background-color:blue;
}

.hero a {
 
}

.hero a .donate {

}

.hero a .contact {

}
/*======== FOOTER =========*/

footer {
	background-color:lightgray;
	min-height:30px;
	text-align: center;
	padding:5px;
}


